@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 5rem;
  padding: 1px;
  background-color: #121212;
}

#root {
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.5rem;
  color: #fff8dc;
  background-color: #121212;
  ;
}

.login-header {
  font-size: 8rem;
  margin-bottom: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  padding-top: 0.4rem;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 2.75rem;
}

.login-input {
  width: 28rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.65rem;
  border-radius: 8px;
  border: 3px solid white;
  background: black;
  color: #fff8dc;
  outline: none;

}

.login-button {
  all: unset;
  width: 13rem;
  padding: 0.25rem;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.5rem;
  border-radius: 50px;
  border: 5px solid #fff8dc;
  background: darkblue;
  color: #fff8dc;
  outline: none;
  margin-top: 1rem;

}

.login-switch-button {
  all: unset;
  width: 13rem;
  height: 3rem;
  padding: 0.05rem;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 0.85rem;
  border-radius: 2px;
  border: 3px solid #fff8dc;
  background: darkgreen;
  color: #fff8dc;
  outline: none;
  margin-top: 1rem;
}

table {
  border-collapse: separate;
  width: 100%;
  border: 3.5px solid #fff8dc;
  border-spacing: 0;
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 0.9rem;

}

th {
  text-align: left;
  padding: 8px;
  border-spacing: 0;
  border: 3.5px solid #fff8dc;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: #00203d;

}

td {
  text-align: left;
  padding: 8px;
  border-spacing: 0;
  border-top: 3.5px solid #fff8dc;
  border: 1.75px solid #fff8dc;
  border-radius: 0.6rem;
  overflow: hidden;
  color: white
}

.entry-name {
  width: 40rem;
}

.entry_data {
  overflow-wrap: break-word;
  word-break: break-all;
}

.entry-actions {
  text-align: center;
}

.update-button {
  all: unset;
  width: 7rem;
  padding: 0.2rem;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1rem;
  border-radius: 5px;
  border: 2.25px solid white;
  background-color: darkgreen;
  color: white;
  outline: none;

}

.delete-button {
  all: unset;
  width: 7rem;
  padding: 0.2rem;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1rem;
  border-radius: 5px;
  border: 2.25px solid white;
  background-color: darkred;
  color: white;
  outline: none;
}

tr:nth-child(even) {
  background-color: #003a70;
}

tr:nth-child(odd) {
  background-color: #00519c;
}

.reference_table {
  width: 40%;

  th {
    background-color: rgb(126, 63, 40);
  }
}

.reference_table tr:nth-child(even) {
  background-color: rgb(202, 100, 62);
}

.reference_table tr:nth-child(odd) {
  background-color: coral;
}

.ref_id {
  text-align: center;
}

.anime_form {
  background-color: rgb(1, 58, 1);
  flex-direction: column;
  margin: auto;
  width: 65%;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 0.4rem;
  justify-content: center;
  margin-bottom: 0.2rem;
  font-size: 2.25rem;
  border-radius: 50px;
  border: 10px solid #fff8dc;

  button {
    width: 8rem;
    font-size: 1.75rem;
    border-radius: 15px;
    border: 5px solid #fff8dc;
    background: rgb(0, 184, 0);
    padding: 0.25rem;
    margin-bottom: 1rem;
    margin:0.75rem;
    color: #fff8dc;
  }
}

.ani_form_divider {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  font-size: 1.6rem;
}

.ani_form_divider input,
select {
  background-color: #121212;
  color: white;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.25rem;
}

input[type="checkbox"] {
  transform: scale(2);
  margin: 8px;
  accent-color: green;
  cursor: pointer;
}

.number_input {
  width: 90px;
  box-sizing: border-box;
}

.comments_input {
  width: 400px;
  box-sizing: border-box;
}

.global_name_input {
  width: 700px;
  box-sizing: border-box;
}

button {
  width: 10rem;
  padding: 0.25rem;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #fff8dc;
  background: rgb(70, 70, 70);
  color: #fff8dc;
  outline: none;
  margin: 1rem;
}

hr {
  background-color: #fff8dc;
  height:0.25rem;
  width: 80%;
  margin: auto;
  border: none;
  margin-bottom: 1rem;

}

.function_button {
  width: 25%;
  padding: 0.6rem;
  font-size: 1.65rem;
  border: 7px outset #fff8dc;
  border-radius: 1.75px;
  background-color: goldenrod;
  color: #2b2b2b;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  margin: 0.6rem;
  margin-bottom: 5rem;
  font-size: 7rem;
}
